<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Golfer Search</title>
</head>
<body>
    <main>
        <section>
            <h1>Look For a Golfer in the Database</h1>

            <!-- Make this form look good                                                                                FIX ME!!! -->
            <form id="golferSerch">
                <label>First Name:</label>
                <input type="text" name="firstName" placeholder="a-z . - ' allowed" required><br />

                <label>Last Name:</label>
                <input type="text" name="lastName" placeholder="a-z . - ' allowed" required><br /><br />

                <button id="searchButton" type="submit">Check for Golfer</button>
            </form>

            <div id="status" style="margin-top:10px; font-weight:600;"></div>
            <div id="result" style="background:#eee;color:#111;padding:14px;border-radius:8px;min-height:60px;"></div>

            <script src="{{ url_for('static', filename='js/nameSearch.js') }}"></script>
        </section>
    </main>
</body>
</html>
